@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track-piece {
    background: black;
}
::-webkit-scrollbar-thumb {
    background-image: url(./audiovisual/scrollbar.jpg);
    border-radius: 7px;
}


/* index.html */

header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'PT Sans', sans-serif;
}

li:hover {
    color: brown;
}

#logo {
    width: 200px;
    height: auto;
}

#banner {
    background-image: url(./audiovisual/banner.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: aliceblue;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    width: 95%;
}

.button {
    width: 200px;
    height: 40px;
    background-color: brown;
    color: aliceblue;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: aliceblue;
    color: black;
}

 .actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }

 .cards-content {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
 }

 .card {
    width: 80%;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 30px 20px 10px;
    color: aliceblue;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

.card:hover {
    transform: scale(1.05);
    color: #ec8d0e;
}

.banner-1 {
    background-image: url(./audiovisual/Hristo\ Jivkov\ como\ João.jpg);
}

.banner-2 {
    background-image: url(./audiovisual/Jim\ Caviezel\ como\ Jesus\ Cristo.jpg);
}

.banner-3 {
    background-image: url(./audiovisual/Monica\ Bellucci\ como\ Maria\ Madalena.jpg);
}

footer {
    height: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
span {
    color: aliceblue;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 55%;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 210px;
    }


}

/* Fotos.html */

   #ul-img {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 40px;
    margin: 10% 10% auto;
    justify-items: center;  
   }
   
   @media(min-width: 512px) {
    #ul-img {
        grid-template-columns: repeat(2, 1fr);
    }

   }

   @media(min-width: 768px) {
    #ul-img {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 60px;
    }
   }

   .li-img {
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;

   }

   .li-img:hover {
    transform: scale(1.05);
   }

   .min{
    width: 200px;
    display: block;
    border-radius: 5px;
   }

   .lbox{
    visibility: hidden;
    opacity: 0;
    display: none
   }

   .lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 60px;
    left:auto;
    background: rgba(10,10,10,0.7);
    position: fixed;
    display:block
   }

   .box_img {
    width: 80%;
    height: 80%;
    margin: 0px 10% auto;
   }

   .btn{
    color: aliceblue;
    transition: .5s;

    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
   }

   .btn:hover {
    color: brown;
    }

   #prev {
    left: 5%;
    top: 45%;
   }

   #next {
    right: 5%;
    top: 45%;
   }

   #close {
    right: 2%;
    top: 0;
   }

   .box_img img{
    opacity: 0;
   }

   .lbox:target .box_img img{
    width: 90%;
    margin-left: 5%;
    margin-top: 7%;
    opacity: 1;
    transition: opacity .4s linear;
    border-radius: 5px;
   } 

/* Comentarios.html */

#banner-coment {
    background-image: url(./audiovisual/banner.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 400px;
}


.coment {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 980px;
    padding: 20% 20% 0 0;
    margin-left: 5%;
    grid-gap: 40px;
}


@media(min-width: 560px) {
    .coment {
        grid-template-columns: repeat(2, 1fr);
    }

   }

@media(min-width: 870px) {
.coment {
    grid-template-columns: repeat(3, 1fr);
}
}




.card-borda {
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    width: 250px;
    height: 400px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    grid-gap: 5%;
    box-shadow: 7px 7px 10px rgba(10,10,10,0.7);

}

.card-borda:hover {
    transform: scale(1.05);
    color: #1A0816;
}




.card-coment {
    background-color: aliceblue;

    display: grid;

    height: 170px;
    width: 220px;
    
    padding: 35px 40%px;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

h3 {
    background-color: aliceblue;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;


}
.stars {
    background-color: aliceblue;
}

.star {
    background-color: aliceblue;
    width: 20px;
}

p-coment {
    background-color: aliceblue;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
}


footer-coment {
    height: 150px;
    margin-top: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media(min-width: 150px) {
footer-coment {
    margin-top: 1100px;
    }
    }
 


@media(min-width: 250px) {
footer-coment {
    margin-top: 1050px;
    }
   }

@media(min-width: 560px) {
footer-coment {
    margin-top: 610px;
}
}

@media(min-width: 870px) {
footer-coment {
    margin-top: 290px;
}
}